@font-face {
    font-family: 'Billabong';
    src: url('./assets/fonts/FontsFree-Net-Billabong.ttf');
  }
*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.sm-message{
    display:none;
    min-width: 100vw;
    min-height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        width: 90%;
        text-align: center;
    }
    @media (max-width:539px){
        display: flex;
    }
}
.tools-wrapper{
    max-width: 90px;
    height:100vh;
    background-color: #f3f3f3;
    @media (max-width:539px){
        display: none;
    }
}
.tools{
    width: 90px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
    background-color: #f3f3f3;
}
.tools > div{
    position: relative;
    top:0px;
    left:0px;
    height:20px;
    cursor: pointer;
    margin:2px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    width: 42%;
    padding:10px 0px;
    transition: all 0.1s ease-in-out;
    border-radius: 0px;
    background: #e0e0e0;
    border-radius: 0px;
    background: #f2f2f2;
    box-shadow:  2px 2px 3px #ebebeb,
                 -2px -2px 3px #f9f9f9;
                 &:hover{
                    background: #f8f7f7; 
                }
    &.active{
        box-shadow:  2px 2px 3px #ebebeb inset,
        -2px -2px 3px #f9f9f9 inset;
    }
  
    
    &:nth-of-type(2n + 1)  .tools__menu{
        left:90px
    }
    &:nth-of-type(2n)  .tools__menu{
        left:48px;
    }
    img{
        width: 49%;
        pointer-events: none;

    }
    i{
        pointer-events: none;
    }
}
.tools{

    &__input-prompt{
        position:absolute;
        opacity:0;
        top:0px;
        left:0px;
        outline:none;
        border: 0px;
        border-bottom:1px solid black;
        &:focus{
            opacity:1;
        }
    }
    &__tooltip{
        opacity:0;
        min-width: 100%;
        position: absolute;
        max-height: fit-content;
        top:65px;
        left:7px;
        z-index: 2;
        background: #f2f2f2;
        border-radius: 3px;
        transition: all 0.1s ease-in-out;
        filter:drop-shadow(2px 2px 2px #ebebeb) drop-shadow( -2px -2px 2px #f9f9f9); 
        &-triangle{
            position: absolute;
            left:12px;
            top:-4px;
            z-index: 1;
            width:10px;
            height:10px;
            background-color: #f2f2f2;
            transform:rotate(45deg);
        }
        &-content{
            font-weight: 600;
            position: relative;
            left:0px;
            top:0px;
            z-index: 2;
            min-width: min-content;
            padding:5px 10px;
            font-size: 0.6rem;
        }
    }
    &__tooltip.--show{
        font-size: 0.70rem !important;
        top:50px !important;
        left:45px !important;
        opacity: 1 !important;
        min-width: 40px;
        width:40px;
        max-width:40px;
        min-height: 30px;
        display:flex;
        justify-content: center;
        align-items: center;
        .tools__tooltip-triangle{
            left:15px;
        }
    }
    &__tooltip-left{
        position:absolute;
        top:8px;
        left:110px;
        padding:2px 0px;
        width: 100%;
        .tools__tooltip-triangle{
            left:-5px !important;
            top:50% !important;
            transform:translateY(-50%) rotate(45deg);
        }
    }
    &__square{
        position: relative;
        top:0px;
        left:0px;
        .square{
            pointer-events: none;
            position: absolute;
            top: 8px;
            left: 5px;
            width: 26px;
            height: 20px;
            border: 1px solid black;
            &:hover{
                border:1px solid black !important;
            }
        }
    }
    &__circle{
        position: relative;
        top:0px;
        left:0px;
        .circle{
            pointer-events: none;
            position: absolute;
            top:8px;
            left:6px;
            width: 25px;
            height:20px;
            border-radius: 100%;
            border:1px solid black !important;
            &:hover{
                border:1px solid black !important;
            }
        }
    }
    &__menu{
            display: none;
            opacity:0;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            z-index: 2;
            top:8px;
            background-color: white;
            transition: all 0.3s ease-in-out;
            & > div {
                cursor: pointer;
                position: relative;
                top:0px;
                left:0px;
                height:20px;
                cursor: pointer;
                margin:2px;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                min-width: 40px;
                max-width: 40px;
                padding:10px 0px;
                transition: all 0.1s ease-in-out;
                background: #f2f2f2;
                box-shadow:  2px 2px 3px #ebebeb,
                             -2px -2px 3px #f9f9f9;
                &:hover{
                    background-color: white;
                    
                    & > .tools__canvas-size-range{
                        opacity:1;
                    }
                    & > .--shadow-blur{
                        opacity:1;
                    }
                }
            }
            & > div  input{
                cursor: pointer;
            }
            & > div i {
                pointer-events: none;
            }
            
    }
    &__canvas-size-range{
        opacity:0;
        transition: all 0.1s ease-in-out;
        input{
            position: absolute;
            top:50px;
            left:0px;
            z-index: 1;
        }
        &:first-of-type{
            .tools__tooltip.--show{
                top:80px !important;
                left:45px !important;
            }
        }
        &:last-of-type{
            .tools__tooltip.--show{
                top:80px !important;
                left:5px !important;
            }
        }
    }
    &__canvas-color-picker{
        i{
            pointer-events: none;
        }
        input{
            opacity:0;
            position: absolute;
            top:10px;
            left:10px;
            width: 20px;
            height:20px;
        }
    }
    &__wide-tool-range{
        min-width: fit-content !important;
        max-width: fit-content !important;
    }
    &__square-item-stroke,
    &__square-item-fill,
    &__square-item-fill-stroke,
    &__circle-item-stroke,
    &__circle-item-fill,
    &__circle-item-fill-stroke{
        pointer-events: none;
        position: absolute;
        top: 8px;
        left: 5px;
        width: 26px;
        height: 20px;
        border: 1px solid black;
    }
    &__circle-item-stroke,
    &__circle-item-fill,
    &__circle-item-fill-stroke{
        border-radius: 100%;
    }
    &__circle-item-fill,
    &__square-item-fill{
        border: 1px solid transparent;
        background-color: black;
    }
    &__circle-item-fill-stroke,
    &__square-item-fill-stroke{
        background-color: red;
        border: 1px solid black;
    }
    &__pencil-square,
    &__pencil-round,
    &__pencil-lazy,
    &__brush-square,
    &__brush-round,
    &__brush-lazy{
        pointer-events: none;
        position: absolute;
        top: 16px;
        left: 16px;
        width: 6px;
        height: 6px;
        border: 1px solid black;
        background-color: black;
    }
    &__pencil-round{
        border-radius: 100%;
    }
    &__pencil-lazy{
        border-radius: 100%;
        filter:blur(2px);
    }
    &__brush-square,
    &__brush-round,
    &__brush-lazy{
        top: 12px;
        left: 12px;
        width: 16px;
        height: 16px;
    }
    &__brush-round{
        border-radius: 100%;
    }
    &__brush-lazy{
        border-radius: 100%;
        filter:blur(2px);
    }
    &__line-square,
    &__line-round{
        pointer-events: none;
        position: absolute;
        top: 16px;
        left: 6px;
        width: 26px;
        height: 6px;
        border: 1px solid black;
        background-color: black;
    }
    &__line-join{
        font-family: 'Billabong';
        font-size: 1.5rem !important;

    }
    &__line-round{
        border-radius: 10px;
    }
    &__shadow{
        div:first-of-type >  input{
            position: relative;
            top:-20px;
            left:-5px;
            opacity:0;
            
        }
    }
    &__shadow-blur-icon{
        pointer-events: none;
        position: relative;
        top:0px;
        left:10px;
        width: 20px;
        height:20px;
        background-color: black;
        border-radius: 100%;
        filter:blur(2px);
    }
    .--shadow-blur{
        display: block;
        position:absolute;
        top:50px;
        opacity:0;
    }
    &__tooltip.--show.--blur{
        top:80px !important;
    }
    &__alpha,
    &__rubber{
        .tools__tooltip-left{
            left:60px !important;
            min-width: fit-content !important;
        }
    }
    &__linear-gradient,
    &__radial-gradient{
        & > div:first-of-type{
            pointer-events: none;
            position: absolute;
            top: 8px;
            left: 5px;
            width: 26px;
            height: 20px;
        }
    }
    &__linear-gradient{
        & > div:first-of-type{
            background:linear-gradient(45deg,black,white);
        }
    }
    &__radial-gradient{
        & > div:first-of-type{
            background:radial-gradient(black,white);
        }
    }
    &__global-alpha{
        min-width: fit-content !important;
        max-width: fit-content !important;
    }
    &__active-tool{
        position: relative;
        top:0px;
        left:0px;
        min-width: 95%;
        div{
            pointer-events: none;
            position: absolute;
            top: 8px;
            left: 25px;
            width: 30px;
            height: 20px;
            &:hover{
                border:1px solid black !important;
            }
            &.paint{
                width: 5px;
                height: 5px;
                top: 18px;
                left: 38px;
            }
            &.linear-gradient{
                background:linear-gradient(45deg,black,white);
            }
            &.radial-gradient{
                background:radial-gradient(black,white);
            }
        }
        
        i{
            margin-top: -2px;
            font-size: 25px;
            animation: fadeIn 0.5s ease-in-out forwards;
        }
        img{
            max-width: 25%;
            animation: fadeIn 0.5s ease-in-out forwards;

        }
        @keyframes fadeIn {
            0%{
                opacity:0;
            }
            100%{
                opacity:1;
            }
        }
    }
  
    &__rubber{
        min-width: 95%;
       
    }
    &__stroke-color{
        min-width: 95%;
        height:10px !important;
        .tools__stroke-placeholder{
            position: relative;
            top: 8px;
            left: -5px;
            width: 95px;
            border: 0px;
            border-bottom: 2px solid black;
            -webkit-transform: rotate(
        15deg
        );
            transform: rotate(
        19deg
        );
            
        }
        input{
            cursor: pointer;
            opacity: 0;
            position: absolute;
            top: -5px;
            left: 0px;
            width: 95px;
            height:10px;
        }
        &:hover{
            background-color: white !important;
            transform:scale(1) !important;

        }
    }
    &__colors{
        position: relative;
        top:0px;
        left:0px;
        min-width: 95%;
        height:60px !important;
        &:hover{
            background-color: white !important;
            transform:scale(1) !important;

        }
        .tools__first-color,
        .tools__second-color{
            width: fit-content !important;
            height:fit-content !important;
            border:0px;
            transition: all 0.1s ease-in-out;
            transform:scale(1) !important;
            background-color: transparent !important;
            border:1px solid transparent !important;
            input{
                cursor:pointer;
                min-width: 40px;
                max-width: 40px;
                min-height: 40px;
                border:0px;
                background-color: transparent;
                transition:all 0.1s ease-in-out;
                &:hover{
                    transform:scale(1.1);
                }
            }
            &:hover{
                transform:scale(1) !important;
                background-color: transparent !important;
                border:1px solid transparent !important;
            }
        }
        .tools__first-color{
            position:absolute;
            top:5px;
            left:10px;
            z-index: 2;
        }
        .tools__second-color{
            position:absolute;
            top:15px;
            left:30px;
            z-index: 1;
        }
  
        h4{
            cursor: pointer;
            padding:0px 10px;
            position:absolute;
            top:55px;
            left:13px;
            z-index: 1;
            color:white;
            background-color: black;
        }
    }
    &__save{
        min-width: 95%;
        i{
            font-size: 1.5rem;
        }
        .tools__menu{
            top:0px !important;
            left:90px !important;
        }
    }
}
#ctx{
    position:absolute;
    left:90px;
    top:0px;
}
#ctx-placeholder{
    border:1px solid lightgrey;
    pointer-events: none;
    z-index: 2;
    position:absolute;
    left:90px;
    top:0px;
    background-color: transparent;
}