@font-face {
  font-family: 'Billabong';
  src: url("./assets/fonts/FontsFree-Net-Billabong.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sm-message {
  display: none;
  min-width: 100vw;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sm-message h1 {
  width: 90%;
  text-align: center;
}

@media (max-width: 539px) {
  .sm-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tools-wrapper {
  max-width: 90px;
  height: 100vh;
  background-color: #f3f3f3;
}

@media (max-width: 539px) {
  .tools-wrapper {
    display: none;
  }
}

.tools {
  width: 90px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f3f3f3;
}

.tools > div {
  position: relative;
  top: 0px;
  left: 0px;
  height: 20px;
  cursor: pointer;
  margin: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  width: 42%;
  padding: 10px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 0px;
  background: #e0e0e0;
  border-radius: 0px;
  background: #f2f2f2;
  -webkit-box-shadow: 2px 2px 3px #ebebeb, -2px -2px 3px #f9f9f9;
          box-shadow: 2px 2px 3px #ebebeb, -2px -2px 3px #f9f9f9;
}

.tools > div:hover {
  background: #f8f7f7;
}

.tools > div.active {
  -webkit-box-shadow: 2px 2px 3px #ebebeb inset, -2px -2px 3px #f9f9f9 inset;
          box-shadow: 2px 2px 3px #ebebeb inset, -2px -2px 3px #f9f9f9 inset;
}

.tools > div:nth-of-type(2n + 1) .tools__menu {
  left: 90px;
}

.tools > div:nth-of-type(2n) .tools__menu {
  left: 48px;
}

.tools > div img {
  width: 49%;
  pointer-events: none;
}

.tools > div i {
  pointer-events: none;
}

.tools__input-prompt {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  outline: none;
  border: 0px;
  border-bottom: 1px solid black;
}

.tools__input-prompt:focus {
  opacity: 1;
}

.tools__tooltip {
  opacity: 0;
  min-width: 100%;
  position: absolute;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  top: 65px;
  left: 7px;
  z-index: 2;
  background: #f2f2f2;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-filter: drop-shadow(2px 2px 2px #ebebeb) drop-shadow(-2px -2px 2px #f9f9f9);
          filter: drop-shadow(2px 2px 2px #ebebeb) drop-shadow(-2px -2px 2px #f9f9f9);
}

.tools__tooltip-triangle {
  position: absolute;
  left: 12px;
  top: -4px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background-color: #f2f2f2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tools__tooltip-content {
  font-weight: 600;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 2;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  padding: 5px 10px;
  font-size: 0.6rem;
}

.tools__tooltip.--show {
  font-size: 0.70rem !important;
  top: 50px !important;
  left: 45px !important;
  opacity: 1 !important;
  min-width: 40px;
  width: 40px;
  max-width: 40px;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tools__tooltip.--show .tools__tooltip-triangle {
  left: 15px;
}

.tools__tooltip-left {
  position: absolute;
  top: 8px;
  left: 110px;
  padding: 2px 0px;
  width: 100%;
}

.tools__tooltip-left .tools__tooltip-triangle {
  left: -5px !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.tools__square {
  position: relative;
  top: 0px;
  left: 0px;
}

.tools__square .square {
  pointer-events: none;
  position: absolute;
  top: 8px;
  left: 5px;
  width: 26px;
  height: 20px;
  border: 1px solid black;
}

.tools__square .square:hover {
  border: 1px solid black !important;
}

.tools__circle {
  position: relative;
  top: 0px;
  left: 0px;
}

.tools__circle .circle {
  pointer-events: none;
  position: absolute;
  top: 8px;
  left: 6px;
  width: 25px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid black !important;
}

.tools__circle .circle:hover {
  border: 1px solid black !important;
}

.tools__menu {
  display: none;
  opacity: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  top: 8px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tools__menu > div {
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  height: 20px;
  cursor: pointer;
  margin: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 40px;
  max-width: 40px;
  padding: 10px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: #f2f2f2;
  -webkit-box-shadow: 2px 2px 3px #ebebeb, -2px -2px 3px #f9f9f9;
          box-shadow: 2px 2px 3px #ebebeb, -2px -2px 3px #f9f9f9;
}

.tools__menu > div:hover {
  background-color: white;
}

.tools__menu > div:hover > .tools__canvas-size-range {
  opacity: 1;
}

.tools__menu > div:hover > .--shadow-blur {
  opacity: 1;
}

.tools__menu > div input {
  cursor: pointer;
}

.tools__menu > div i {
  pointer-events: none;
}

.tools__canvas-size-range {
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.tools__canvas-size-range input {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 1;
}

.tools__canvas-size-range:first-of-type .tools__tooltip.--show {
  top: 80px !important;
  left: 45px !important;
}

.tools__canvas-size-range:last-of-type .tools__tooltip.--show {
  top: 80px !important;
  left: 5px !important;
}

.tools__canvas-color-picker i {
  pointer-events: none;
}

.tools__canvas-color-picker input {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}

.tools__wide-tool-range {
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}

.tools__square-item-stroke, .tools__square-item-fill, .tools__square-item-fill-stroke, .tools__circle-item-stroke, .tools__circle-item-fill, .tools__circle-item-fill-stroke {
  pointer-events: none;
  position: absolute;
  top: 8px;
  left: 5px;
  width: 26px;
  height: 20px;
  border: 1px solid black;
}

.tools__circle-item-stroke, .tools__circle-item-fill, .tools__circle-item-fill-stroke {
  border-radius: 100%;
}

.tools__circle-item-fill, .tools__square-item-fill {
  border: 1px solid transparent;
  background-color: black;
}

.tools__circle-item-fill-stroke, .tools__square-item-fill-stroke {
  background-color: red;
  border: 1px solid black;
}

.tools__pencil-square, .tools__pencil-round, .tools__pencil-lazy, .tools__brush-square, .tools__brush-round, .tools__brush-lazy {
  pointer-events: none;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 6px;
  height: 6px;
  border: 1px solid black;
  background-color: black;
}

.tools__pencil-round {
  border-radius: 100%;
}

.tools__pencil-lazy {
  border-radius: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.tools__brush-square, .tools__brush-round, .tools__brush-lazy {
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
}

.tools__brush-round {
  border-radius: 100%;
}

.tools__brush-lazy {
  border-radius: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.tools__line-square, .tools__line-round {
  pointer-events: none;
  position: absolute;
  top: 16px;
  left: 6px;
  width: 26px;
  height: 6px;
  border: 1px solid black;
  background-color: black;
}

.tools__line-join {
  font-family: 'Billabong';
  font-size: 1.5rem !important;
}

.tools__line-round {
  border-radius: 10px;
}

.tools__shadow div:first-of-type > input {
  position: relative;
  top: -20px;
  left: -5px;
  opacity: 0;
}

.tools__shadow-blur-icon {
  pointer-events: none;
  position: relative;
  top: 0px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.tools .--shadow-blur {
  display: block;
  position: absolute;
  top: 50px;
  opacity: 0;
}

.tools__tooltip.--show.--blur {
  top: 80px !important;
}

.tools__alpha .tools__tooltip-left, .tools__rubber .tools__tooltip-left {
  left: 60px !important;
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
}

.tools__linear-gradient > div:first-of-type, .tools__radial-gradient > div:first-of-type {
  pointer-events: none;
  position: absolute;
  top: 8px;
  left: 5px;
  width: 26px;
  height: 20px;
}

.tools__linear-gradient > div:first-of-type {
  background: linear-gradient(45deg, black, white);
}

.tools__radial-gradient > div:first-of-type {
  background: radial-gradient(black, white);
}

.tools__global-alpha {
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}

.tools__active-tool {
  position: relative;
  top: 0px;
  left: 0px;
  min-width: 95%;
}

.tools__active-tool div {
  pointer-events: none;
  position: absolute;
  top: 8px;
  left: 25px;
  width: 30px;
  height: 20px;
}

.tools__active-tool div:hover {
  border: 1px solid black !important;
}

.tools__active-tool div.paint {
  width: 5px;
  height: 5px;
  top: 18px;
  left: 38px;
}

.tools__active-tool div.linear-gradient {
  background: linear-gradient(45deg, black, white);
}

.tools__active-tool div.radial-gradient {
  background: radial-gradient(black, white);
}

.tools__active-tool i {
  margin-top: -2px;
  font-size: 25px;
  -webkit-animation: fadeIn 0.5s ease-in-out forwards;
          animation: fadeIn 0.5s ease-in-out forwards;
}

.tools__active-tool img {
  max-width: 25%;
  -webkit-animation: fadeIn 0.5s ease-in-out forwards;
          animation: fadeIn 0.5s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tools__rubber {
  min-width: 95%;
}

.tools__stroke-color {
  min-width: 95%;
  height: 10px !important;
}

.tools__stroke-color .tools__stroke-placeholder {
  position: relative;
  top: 8px;
  left: -5px;
  width: 95px;
  border: 0px;
  border-bottom: 2px solid black;
  -webkit-transform: rotate(15deg);
  transform: rotate(19deg);
}

.tools__stroke-color input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -5px;
  left: 0px;
  width: 95px;
  height: 10px;
}

.tools__stroke-color:hover {
  background-color: white !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.tools__colors {
  position: relative;
  top: 0px;
  left: 0px;
  min-width: 95%;
  height: 60px !important;
}

.tools__colors:hover {
  background-color: white !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.tools__colors .tools__first-color,
.tools__colors .tools__second-color {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  border: 0px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

.tools__colors .tools__first-color input,
.tools__colors .tools__second-color input {
  cursor: pointer;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  border: 0px;
  background-color: transparent;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.tools__colors .tools__first-color input:hover,
.tools__colors .tools__second-color input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tools__colors .tools__first-color:hover,
.tools__colors .tools__second-color:hover {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

.tools__colors .tools__first-color {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 2;
}

.tools__colors .tools__second-color {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 1;
}

.tools__colors h4 {
  cursor: pointer;
  padding: 0px 10px;
  position: absolute;
  top: 55px;
  left: 13px;
  z-index: 1;
  color: white;
  background-color: black;
}

.tools__save {
  min-width: 95%;
}

.tools__save i {
  font-size: 1.5rem;
}

.tools__save .tools__menu {
  top: 0px !important;
  left: 90px !important;
}

#ctx {
  position: absolute;
  left: 90px;
  top: 0px;
}

#ctx-placeholder {
  border: 1px solid lightgrey;
  pointer-events: none;
  z-index: 2;
  position: absolute;
  left: 90px;
  top: 0px;
  background-color: transparent;
}
/*# sourceMappingURL=styles.css.map */